<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--基于asjectj的切面驱动器-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <bean id="waiter" class="com.flexible.aspectj.PoliteWaiter"></bean>
    <bean class="com.flexible.aspectj.PreGreetingAspect"></bean>


    <!--引介增强的使用-->
    <bean id="waiter_2" class="com.flexible.inroductionofdeclareparent.PoliteWaiter"></bean>
    <bean class="com.flexible.inroductionofdeclareparent.EnableSellerAspect"></bean>

    <!--切点详解之@annotation-->
    <bean id="waiter_3" class="com.flexible.pointcutbreakdown.annotation.PoliteWaiter"></bean>
    <bean class="com.flexible.pointcutbreakdown.annotation.TestAspect"></bean>

    <!--获取连接点的信息-->
    <bean id="waiter_4" class="com.flexible.obtainproceedingpointinfo.PoliteWaiter"></bean>
    <bean class="com.flexible.obtainproceedingpointinfo.TestAspect"></bean>
</beans>